@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .new-arrivals {
        display: none;
    }
    .main{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 426px) {
    body {
        font-size: 14px;
    }

    html, body {
        font-size: 12px;
    }
    .main {
        padding: .5rem;

    }
}
