@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    .DESKTOP-NAV{
        display: none;
    }
    .FRAME-MENU{
        display: none;
    }
    .list-icon{
        display: block !important;
    }
    .new-arrivals{
        display: none;
    }

}

@media screen and (max-width: 426px){
 body{
     font-size: 14px;
 }
}
